{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
    <nav class="navbar navbar-light fixed-top">
        <span class="navbar-brand mb-0 h1">Creator: {{ user.name }}</span>
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}" method="get">
          <input class="btn btn-outline-primary" type="submit" value="Logout"/>
        </form>
    </nav>
    <div class="buffer"></div>
    <div class="title">
        <h1>Create party</h1>
        <hr>
    </div>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="form">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
    <form action="{{ url_for('parties') }}" method="get">
      <input class="btn btn-lg btn-outline-primary" type="submit" value="Back to parties"/>
    </form>
{% include "footer.html" %}